char-rom-gen/target
fpga/build
fpga/src/char_rom.sv
fpga/src/vram.sv
fpga/src/key_code.sv
fpga/tests/ps2/build
fpga/tests/ps2/*.vcd
fpga/tests/ps2/*.surf.ron
fpga/tests/uart/build
fpga/tests/uart/*.vcd
fpga/tests/uart/*.surf.ron
key-code-gen/target
pcb/*.bak
pcb/*-cache
pcb/output
pcb/vt4-backups
vram-gen/init.txt
vram-gen/target
